body {
    background-image: url("https://images.unsplash.com/photo-1599474151975-1f978922fa02?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", sans-serif;
    background-color: #f7f7f7;
    text-align: center;

  }
  
  .section-title {
    margin-top: 40px;
    font-size: 2rem;
    color: #333;
  }
  
  .section-title span {
    color: #007bff;
    font-style: italic;
  }
  
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    padding: 30px;
  }
  
  .service-card {
    background-color: #fff;
    border-radius: 12px;
    width: 250px;
    padding: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s;
  }
  
  .service-card:hover {
    transform: translateY(-5px);
  }
  
  .service-card i {
    font-size: 35px;
    color: #007bff;
    margin-bottom: 15px;
  }
  
  .service-card h3 {
    font-size: 1.1rem;
    margin-bottom: 10px;
    font-style: italic;
  }
  
  .service-card p {
    font-size: 0.9rem;
    color: #555;
  }
  